<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0" metadata-complete="true">
    <display-name>Tomcat Manager Application</display-name>
    <description>
        A scriptable management web application for the Tomcat Web Server;
        Manager lets you view, load/unload/etc particular web applications.
    </description>
    <display-name>ECE1779H User UI</display-name>
    <description>ECE1779H User UI</description>
    <!--
     Define servlets that are included in the example application
    -->
    <servlet>
    </servlet>
	
	<servlet>
    <servlet-name>upload_image</servlet-name>
    <jsp-file>/jsp/upload_image.jsp</jsp-file>
	</servlet>
	<!--mapping-->
	<servlet-mapping>
		<servlet-name>upload_image</servlet-name>
		<url-pattern>/servlet/FileUpload</url-pattern>   
	</servlet-mapping>
</web-app>
